@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.service{
    padding-top: 100px;
    max-width: 90%;
    .service__title{
        font-size: 40px;
        font-family: v.$title-font;
    }

    .service__container{
        padding-top: 40px;
        display: flex;
        article{
            max-width: 33%;
            img{
                width: 50px;
            }

            h3{
                font-size: 24px;
                font-weight: normal;
                margin-bottom: 10px;
                margin-top: 15px;
            }

            p{
                color: v.$color-grey;
                max-width: 80%;
            }
        }
    }
}